﻿<ul>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jei">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thuts-elevators">Thut's Elevators (by Thutmose_III)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/zerocore">ZeroCore 2 (by ZeroNoRyouki)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/endercore">EnderCore (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ctm">ConnectedTexturesMod (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/opencomputers">OpenComputers (by Sangar_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-dynamics">Thermal Dynamics (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/actually-baubles">Actually Baubles (by Jackyy)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ender-io">Ender IO (by CrazyPants_MC)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mrcrayfish-furniture-mod">MrCrayfish's Furniture Mod (by MrCrayfish)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/aether-lost-content">Aether: Lost Content (by ModdingLegacy)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/nether-update-backport">Nether Update Backport (by Broulf)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/gravestone-mod">GraveStone Mod (by henkelmax)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/castle-dungeons">Castle Dungeons [Forge & Fabric] (by PufferfishPL)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-innovation">Thermal Innovation (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thutcore">ThutCore (by Thutmose_III)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/waila-harvestability">Waila Harvestability (by squeek502)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/opencomputers-icbm-classic-addon">Opencomputers ICBM-Classic Addon (by TheEternalSoap)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chococraft-3">ChocoCraft 3 (by TheSlayer5934)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/light-level-overlay-reloaded">Light Level Overlay Reloaded (by oldjunyi)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thaumcraft">Thaumcraft (by Azanor13)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/llibrary">LLibrary (by _ForgeUser11902522)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fossils">Fossils and Archeology Revival (by _ForgeUser18449974)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-cultivation">Thermal Cultivation (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/immersive-engineering">Immersive Engineering (by BluSunrize)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/biomes-o-plenty">Biomes O' Plenty (by Forstride)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/actuallycomputers">ActuallyComputers (by canitzp)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tinkers-jei">Tinker's JEI (by Possible_triangle)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/improvedbackpacks">Improved Backpacks (by DreenDexTwitch)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chisel">Chisel (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/inventory-tweaks">Inventory Tweaks [1.12 only]  (by JimeoWan)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tinkers-construct">Tinkers Construct (by mDiyo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thaumic-energistics">Thaumic Energistics (by nividica)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mantle">Mantle (by mDiyo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/icbm-classic">ICBM - Classic (by QueenOfMissiles)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/journeymap">JourneyMap (by techbrew)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/extreme-reactors">Extreme Reactors (by ZeroNoRyouki)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/openblocks-elevator">OpenBlocks Elevator (by vsngarcia)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mekanism">Mekanism (by bradyaidanc)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mcjtylib">McJtyLib (by McJty)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mekanism-generators">Mekanism Generators (by bradyaidanc)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mekanism-tools">Mekanism Tools (by bradyaidanc)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/actually-additions">Actually Additions (by Ellpeck)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/redstone-flux">Redstone Flux (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/atomic-science">Atomic Science (by QueenOfMissiles)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/codechicken-lib-1-8">CodeChicken Lib 1.8.+ (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-foundation">Thermal Foundation (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jei-bees">JEI Bees (by bdew)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/bspkrscore-updated">bspkrsCore Updated (by ZenCoder)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mo-creatures">Mo' Creatures (by DrZharky)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thaumic-jei">Thaumic JEI (by Buuz135)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/custom-mob-spawner">Custom Mob Spawner (by DrZharky)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/iron-backpacks">Iron Backpacks (by gr8pefish)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cofh-core">CoFH Core (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-expansion">Thermal Expansion (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/the-aether">The Aether (by GildedGames)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/treecapitator-updated">Treecapitator Updated (by ZenCoder)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/aquaculture">Aquaculture 2 (by Shadowclaimer)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/forestry">Forestry (by _ForgeUser7678633)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cofh-world">CoFH World (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/thermal-tinkering">Thermal Tinkering (by samboy063)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/shipwrecks">Shipwrecks! (by ThWinslow)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/baubles">Baubles (by Azanor13)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/iron-chests">Iron Chests (by ProgWML6)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/applied-energistics-2">Applied Energistics 2 (by AlgorithmX2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/pams-harvestcraft">Pam's HarvestCraft (by pamharvestcraft)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/pams-brewcraft">Pam's BrewCraft (by pamharvestcraft)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/hwyla">Hwyla (by TehNut)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/rftools">RFTools (by McJty)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/redstone-arsenal">Redstone Arsenal (by TeamCoFH)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/simply-jetpacks-2">Simply Jetpacks 2 (by Tomson124)</a></li>
</ul>
